# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Misc
# assets/js/dist

2023-08-20-test.md
2023-08-21-linux_shell.md
2023-08-21-java-hello.md
2023-08-17-tools.md